node_modules/
.next/
out/
build/
db/*.db
db/*.db-journal
public/uploads/*
!public/uploads/.gitkeep
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log
.DS_Store
Thumbs.db
.vercel
